body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: .9;
}

/* Header */
.header{
  height: 69px;
  width: 100%;
  display: flex;
  border-bottom: 1px solid seashell;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 15;
  top: 0px;
  overflow: scroll;
  background-color: inherit;
}

.header img{
  height: 50px;
  padding-left: 10px;
  margin-right: 500px;
}

.header a{
  color: seashell;
  text-decoration: underline;
}

nav{
  display: inline-flex;
  flex-wrap: nowrap;
}

nav span{
  padding: 0px 15px;
  flex-shrink: 0;
}

/* Mission */
.mission{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 1200px;
  background-image: url("./images/img-mission-background.jpg");
  margin: 69px auto 0px auto;
}

.statement{
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.statement h2, h4{
  margin: 10px 0px;
}

/* Featured Teas */
.features{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0px auto;
  width: 1000px;
}

.teahead{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teapics{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
}

.item{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 15px 15px;
}

.item img{
  height: 200px;
  width: 300px;
}

.item span{
  margin-top: 10px;
}
